.pokedex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1em;
  padding: 2em 9%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.loading-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5em;
  animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.loading-more img {
  width: 4.5em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .pokedex {
    padding: 0 0.2em 2em;
    gap: 0.5em;
  }
}
