.pokedex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em auto 0 auto;
  gap: 1em;
  padding: 2em 9%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
