.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.loading-container span {
  animation: 3s loading infinite;
  visibility: hidden;
}

.loading-container span:nth-of-type(2) {
  animation-delay: 0.5s;
}

.loading-container span:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
