.type-filters {
  display: flex;
}

.type-filters button {
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  background: #858585;
  color: white;
  text-shadow: -1px 0 #303030, 0 1px #303030, 1px 0 #303030, 0 -1px #303030;
  letter-spacing: 0.04em;
  font-family: Gill Sans Nova, sans-serif;
}

.type-filters button:hover {
  filter: brightness(110%);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 5em;
  gap: 0.5em;
}

.close-filters {
  display: none;
}

.filter-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .type-filters {
    top: 0;
    right: 0;
    transform: translateX(100%);
    background: #303030;
    height: 100vh;
    position: fixed;
    z-index: 99;
    padding: 3em 3em;
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
  }

  .visible {
    opacity: 1;
    transform: translateX(0);
  }

  .close-filters {
    display: initial;
    position: absolute;
    top: 0;
    left: 0.2em;
    font-size: 2.5em;
    color: #ffcb20;
  }

  .buttons {
    grid-template-columns: 1fr 1fr;
  }
}
